<div style="font-weight:bold; padding: 2px;">Weather</div>
<object type="application/x-shockwave-flash" data="http://static.hotelscombined.com.s3.amazonaws.com/swf/small_weather_widget.swf" 	id="w4ac51256b91a3ac44af9cdc8829cfe7c" height="52" width="160">
<param value="http://static.hotelscombined.com.s3.amazonaws.com/swf/small_weather_widget.swf" name="movie"/>
<param value="transparent" name="wmode">
<param value="station_id=EIDW&city_name=Dublin&language=en&use_celsius=Yes&skinName=LightBlue&PID=60778&ts=201111081104&hideChangeSkin=No" name="flashvars">
<param value="all" name="allowNetworking">
<param value="always" name="allowScriptAccess"></object>