<div style="font-weight:bold; padding: 2px;">Calendar</div>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" type="application/x-shockwave-flash" width="180px" height="223px" id="InsertWidget_8131d35a-a5d6-4997-aeed-7bec6b0dc7b9" align="middle">
	<param name="movie" value="http://www.widgetserver.com/syndication/flash/wrapper/InsertWidget.swf"/>
	<param name="quality" value="high" />
	<param name="wmode" value="transparent" />
	<param name="menu" value="false" />
	<param name="flashvars" value="r=2&appId=8131d35a-a5d6-4997-aeed-7bec6b0dc7b9" />
	<param name="allowScriptAccess" value="sameDomain" />
	<embed src="http://www.widgetserver.com/syndication/flash/wrapper/InsertWidget.swf" name="InsertWidget_8131d35a-a5d6-4997-aeed-7bec6b0dc7b9" width="auto" height="223px" quality="high" menu="false" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" align="middle" allowScriptAccess="sameDomain" flashvars="r=2&appId=8131d35a-a5d6-4997-aeed-7bec6b0dc7b9" ></embed>
</object>