<div style="font-weight:bold; padding: 2px;">Navigator</div>
<div class="menu">
	<a href="portal.php" title="portal"><img class="comimg" src="{COMPONENTS_IMAGE_PATH}/menus/images/home.png" width="16" height="16" border="0" alt="">Home Page</a><br />
	<a href="portal.php?page=blog" title="blog"><img class="comimg" src="{COMPONENTS_IMAGE_PATH}/menus/images/blog.png" width="16" height="16" border="0" alt="">Blog Page</a><br />
	<a href="portal.php?page=welcome" title="welcome"><img class="comimg" src="{COMPONENTS_IMAGE_PATH}/menus/images/welcome.png" width="16" height="16" border="0" alt="">Welcome Page</a><br />
	<a href="portal.php?page=news" title="News"><img class="comimg" src="{COMPONENTS_IMAGE_PATH}/menus/images/news.png" width="16" height="16" border="0" alt="">News Page</a><br />
</div>