body {
	background-color: #DBE2D0;
	color: #155155;
	font: 12px/20px normal Helvetica, Arial, sans-serif;

	font-family: Consolas, Monaco, Courier New, Courier, monospace;

	margin: 0;
	padding: 20px 0;
}