<div style="font-weight:bold; padding: 2px;">Links</div>
<div class="menu">
	<a href="http://www.phpbbireland.com" title="Kiss Portal Engine dev. site"><img class="comimg" src="{COMPONENTS_IMAGE_PATH}/menus/images/sp.png" width="16" height="16" border="0" alt="">phpBB Ireland</a><br />
	<a href="http://www.integramod.com" title="integramod site"><img class="comimg" src="{COMPONENTS_IMAGE_PATH}/menus/images/www.gif" width="16" height="16" border="0" alt="">Integramod</a><br />
	<a href="http://google.com" title="Search at Google"><img class="comimg" src="{COMPONENTS_IMAGE_PATH}/menus/images/search.png" width="16" height="16" border="0" alt="">google</a><br />
</div>

